body {
    color: #191c22;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

a {
    border: none;
    color: #191c22;
    text-decoration: none;
}

img {
    border: none;
}

/* .container {

} */

header {
    height: 200px;
}

.relevant-product_top {
    background-color: #FFCC00;
    height: 48px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.height-zero {
    height: 0;
    transition: height 0.3s;
}

.product-link {
    display: block;
    height: 100%;
    margin: 0 50px;
}

.product-wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 330px;
}

.product-wrapper img {
    height: 90%;
    margin-right: 10px;
    position: inherit;
    top: 5%;
}

.product-wrapper span {
    font-weight: 600;
    position: absolute;
    top: 30%;
}

.relevant-product_top button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
}