body {
    color: #191c22;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    border: none;
    color: #191c22;
    text-decoration: none;
}

img {
    border: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
}

li {
    list-style-type: none;
}

header {
    position: relative;
}

header * {
    outline-color: #FFCC00;
}

.header-content {
    background-color: #ffffff;
    border-bottom: 1px solid #dfe0e5;
    /* height: 161px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%; */
    position: relative;
    z-index: 10;
}

.banner_top {
    background-color: #FFCC00;
    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 11;
}

.height-zero {
    height: 0;
    transition: height 0.3s;
}

.banner-link {
    display: block;
    height: 100%;
    margin: 0 50px;
}

.banner-content {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 330px;
}

.banner-content img {
    height: 90%;
    margin-right: 10px;
    position: inherit;
    top: 5%;
}

.banner-content span {
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 30%;
}

.banner_top button {
    font-size: 0;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar_top {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1310px;
    position: relative;
    width: 100%;
    z-index: 11;
}

.bar_top {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 5px 20px;
}

.chosen-region {
    max-width: 180px;
    position: relative;
    width: 100%;
}

.chosen-region button {
    padding: 0;
    position: absolute;
    top: 0;
}

.chosen-region svg,
#chosen-region {
    display: inline-block;
    vertical-align: middle;
}

#chosen-region {
    font-size: 14px;
    font-weight: 500;
}

.regions-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.regions {
    animation: slide-down 0.5s forwards;
    background-color: #ffffff;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-shadow: 0 8px 24px hsla(0, 0%, 40%, 0.08);
    height: 70%;
    left: 5%;
    opacity: 0;
    position: absolute;
    top: 10%;
    width: 90%;
    z-index: 101;
}

@keyframes slide-down {
    to {
        opacity: 1;
        top: 15%;
    }
}

.regions .header {
    border-bottom: 1px solid #dfe0e5;
    padding: 64px 96px 24px;
    position: relative;
}

.regions .header h3 {
    font-size: 32px;
    margin-bottom: 24px;
}

.regions .close {
    font-size: 0;
    padding: 12px;
    position: absolute;
    right: 32px;
    stroke: #191c22;
    stroke-width: 1.5px;
    top: 32px;
}

.regions .close:hover {
    stroke: #f45151;
}

.regions .header input {
    background-color: #ffffff;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 14px;
    outline: #dfe0e5;
    padding: 12px;
    width: 100%;
}

.regions .content {
    max-height: 540px;
    overflow-y: auto;
    padding: 24px 96px 0;
}

.regions .content::before {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    border-radius: 12px;
    bottom: 0;
    box-sizing: border-box;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
}

.navbar_left {
    margin-right: auto;
}

.navbar_right {
    margin-left: auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar > ul {
    display: flex;
}

.navbar li {
    font-size: 14px;
    font-weight: 500;
}

.navbar a:hover {
    opacity: 0.7;
}

.with-nested-nav {
    margin: 0 16px;
}

.with-nested-nav:hover > a {
    color: #f45151;
}

.with-nested-nav:hover > a svg {
    fill: #f45151;
}

.nested-nav-wrapper {
    display: none;
    padding-top: 12px;
    position: absolute;
    z-index: 20;
}

.with-nested-nav:hover > .nested-nav-wrapper {
    display: block;
}

.nested-nav {
    background-color: #fbfbfb;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-shadow: 0 8px 24px hsla(0, 0%, 40%, 0.08);
    overflow: hidden;
}

.nested-nav li {
    background-color: #fbfbfb;
    border-bottom: 1px solid #dfe0e5;
    transition: background-color 0.3s;
}

.nested-nav li:last-child {
    border-bottom: none;
}

.nested-nav li:hover {
    background-color: hsla(240, 9%, 77%, 0.2);
}

.nested-nav a {
    display: block;
    padding: 12px 16px;
}

.navbar_right ul li {
    margin-right: 32px;
}

.navbar_right ul li:last-child {
    margin-right: 0;
}

.bar_bottom {
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
}

.left {
    display: flex;
}

.logo-link {
    margin-right: 16px;
}

.logo-img {
    display: block;
    height: 32px;
    padding-top: 4px;
    width: 32px;
}

.catalog-button {
    background-color: #ffe632;
    border: 1px solid #ffe632;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 16px;
    padding: 7px 12px;
    transition: background-color 0.3s, border-color 0.3s;
    width: 110px;
}

.catalog-button:hover {
    background-color: #ffd93a;
    border-color: #ffd93a;
}

.catalog-button:focus {
    background-color: #FFCC00;
}

.catalog-button .svg-wrapper {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 24px;
}

.catalog-button .svg-wrapper svg {
    font-size: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    transition: opacity 0.3s;
}

.button-closed {
    opacity: 1;
}

.button-opened {
    opacity: 0;
}

.catalog-button span {
    font-size: 14px;
    font-weight: 600;
    padding-left: 6px;
}

.catalog-button .svg-wrapper,
.catalog-button span {
    vertical-align: middle;
}

.center {
    display: flex;
    position: relative;
    width: 100%;
}

.search-bar-wrapper {
    width: 100%;
}

.search-bar-wrapper::before {
    background-image: url(https://static.beeline.ru/upload/images/e-shop/icons/search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 20px;
    left: 14px;
    position: absolute;
    top: 20%;
    width: 20px;
}

#search-bar {
    background-color: #fbfbfb;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 12px;
    padding: 12px 40px;
    width: 100%;
}

.hidden-buttons {
    display: none;
    margin-left: auto;
}

.hidden-buttons button {
    border-radius: 8px;
    color: #191c22;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 24px;
}

.hidden-buttons #search {
    background-color: #ffe632;
    border: 1px solid #ffe632;
    margin: 0 12px;
    transition: background-color 0.3s, border-color 0.3s;
}

.hidden-buttons #search:hover {
    background-color: #ffd93a;
    border-color: #ffd93a;
}

.hidden-buttons #search:focus {
    background-color: #FFCC00;
}

.hidden-buttons #close-search {
    background-color: #ffffff;
    border: 1px solid #191c22;
    transition: border-color 0.3s, color 0.3s;
}

.hidden-buttons #close-search:hover {
    border-color: #f45151;
    color: #f45151;
}

.hidden-buttons #close-search:focus {
    border-color: #191c22;
    color: #191c22;
}

.right {
    display: flex;
    margin-left: 24px;
}

.chat-button-wrapper,
.cart-link-wrapper {
    padding: 0 12px;
}

.chat-button-wrapper button,
.cart-link-wrapper a {
    margin-top: 4px;
}

.chat-button-wrapper button:hover,
.cart-link-wrapper a:hover {
    color: #f45151;
}

.chat-button-wrapper button:hover > svg,
.cart-link-wrapper a:hover > svg {
    fill: #f45151;
}

.chat-button-wrapper button {
    padding: 0;
}

.cart-link-wrapper a {
    display: block;
    font-size: 12px;
    text-align: center;
}

.chat-button-wrapper span,
.cart-link-wrapper span {
    display: block;
    margin-top: -8px;
}

.login-button-wrapper {
    margin-left: 20px;
}

#login-button {
    background-color: #191c22;
    color: #ffffff;
    border: 1px solid #191c22;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 9px 24px;
}

#login-button:focus {
    color: #D9D9D9;
}

.catalog-info-wrapper {
    animation: slide-down-appear 0.3s ease-in-out forwards;
    background-color: #ffffff;
    border-bottom: 1px solid #dfe0e5;
    display: none;
    left: 0;
    max-height: 730px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transform: translateY(-10px);
    width: 100%;
    z-index: 10;
}

@keyframes slide-down-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.catalog-info {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    max-width: 1310px;
    padding: 0 20px;
}

.info-nav {
    border-right: 1px solid #dfe0e5;
    height: 70vh;
    min-width: 190px;
    overflow-x: auto;
    padding: 32px 24px 32px 0;
    scrollbar-width: none;
}

.info-nav::-webkit-scrollbar {
    display: none;
}

.info-nav > div > a {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 6px;
    transition: opacity 0.3s;
}

.info-nav > div > a:hover {
    opacity: 0.7;
}

#sale-link {
    color: #f45151;
}

.info-nav ul {
    margin: 0 0 16px 0;
    padding: 0;
}

.info-nav li {
    padding: 2px 0;
}

.info-nav button {
    border: 1px solid #ffffff;
    display: block;
    font-size: 14px;
    padding: 2px 6px;
    text-align: left;
    width: 100%;
}

.chosen-section {
    background-color: rgba(223, 224, 229, 0.6);
    border-radius: 8px;
}

.info-more {
    height: 70vh;
    overflow-x: auto;
    padding-bottom: 24px;
    scrollbar-width: none;
    width: 100%;
}

.info-more::-webkit-scrollbar {
    display: none;
}

.more-nav {
    padding: 32px 24px;
}

.more-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.more-nav li {
    align-items: center;
    display: flex;
    margin-right: 32px;
}

.more-nav li:last-child {
    margin-right: 0;
}

.more-nav img {
    cursor: pointer;
    height: 20px;
    margin-right: 6px;
    width: 20px;
}

.more-nav a {
    font-size: 16px;
}

.more-nav img:hover,
.more-nav a:hover {
    opacity: 0.7;
}

.more-content {
    padding-left: 24px;
}

.content-block {
    display: none;
}

.content-block:nth-child(10) {
    display: block;
}

.content-block .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.content-block .content {
    display: flex;
}

.two-columns {
    display: flex;
    width: 660px;
}

.two-columns .column {
    width: 50%;
}

.content > .column {
    width: 200px;
}

.column .section {
    margin-bottom: 32px;
    width: 100%;
}

.section .subtitle {
    cursor: default;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.column .section ul {
    margin: 0;
    padding: 0;
}

.column .section li {
    line-height: 1.3;
    padding-bottom: 8px;
}

.column .section a {
    font-size: 14px;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.column .section a:hover {
    opacity: 0.7;
}

.catalog-info-background {
    background-color: #000000;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
    width: 100%;
    z-index: 9;
}

main {
    margin: 20px;
    position: relative;
}

.search-info-wrapper {
    display: none;
}

.login-wrapper {
    display: none;
}