body {
    color: #191c22;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    border: none;
    color: #191c22;
    letter-spacing: -0.2px;
    text-decoration: none;
}

img {
    border: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    letter-spacing: -0.2px;
}

input {
    font-family: 'Jost', sans-serif;
}

li {
    letter-spacing: -0.2px;
    list-style-type: none;
}

span,
p {
    letter-spacing: -0.2px;
}

header {
    position: relative;
}

header * {
    outline-color: #FFCC00;
}

.color-red {
    color: #f45151;
}

.header-content {
    background-color: #ffffff;
    border-bottom: 1px solid #dfe0e5;
    /* height: 161px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%; */
    position: relative;
    z-index: 10;
}

.banner_top {
    background-color: #FFCC00;
    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 11;
}

.height-zero {
    height: 0;
    transition: height 0.3s;
}

.banner-link {
    display: block;
    height: 100%;
    margin: 0 50px;
}

.banner-content {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 330px;
}

.banner-content img {
    height: 90%;
    margin-right: 10px;
    position: inherit;
    top: 5%;
}

.banner-content span {
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 30%;
}

.banner_top .banner-close {
    font-size: 0;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar_top {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1310px;
    position: relative;
    width: 100%;
    z-index: 11;
}

.bar_top {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 5px 20px;
}

.chosen-region-wrapper {
    max-width: 180px;
    position: relative;
    width: 100%;
}

.chosen-region {
    padding: 0;
    position: absolute;
    top: 0;
}

.chosen-region svg,
#chosen-region {
    display: inline-block;
    vertical-align: middle;
}

#chosen-region {
    font-size: 14px;
    font-weight: 500;
}

.regions-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.regions {
    animation: slide-down 0.5s forwards;
    background-color: #ffffff;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-shadow: 0 8px 24px hsla(0, 0%, 40%, 0.08);
    height: 70%;
    left: 5%;
    opacity: 0;
    position: absolute;
    top: 10%;
    width: 90%;
    z-index: 101;
}

@keyframes slide-down {
    to {
        opacity: 1;
        top: 15%;
    }
}

.regions .header {
    border-bottom: 1px solid #dfe0e5;
    padding: 64px 96px 24px;
    position: relative;
}

.regions .header h3 {
    font-size: 32px;
    margin-bottom: 24px;
}

.regions .close {
    font-size: 0;
    padding: 12px;
    position: absolute;
    right: 32px;
    stroke: #191c22;
    stroke-width: 1.5px;
    top: 32px;
}

.regions .close:hover {
    stroke: #f45151;
}

.regions .header input {
    background-color: #ffffff;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 14px;
    outline: #dfe0e5;
    padding: 12px;
    width: 100%;
}

.regions .content {
    max-height: 540px;
    overflow-y: auto;
    padding: 24px 96px 0;
}

.regions .content::before {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    border-radius: 12px;
    bottom: 0;
    box-sizing: border-box;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
}

.navbar-wrapper_left {
    margin-right: auto;
}

.navbar-wrapper_right {
    margin-left: auto;
}

.navbar {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    font-size: 14px;
    font-weight: 500;
}

.navbar a {
    font-size: 14px;
    transition: opacity 0.3s;
}

.navbar a:hover {
    opacity: 0.7;
}

.with-nested-navbar {
    margin: 0 16px;
}

.with-nested-navbar:hover > a {
    color: #f45151;
}

.with-nested-navbar:hover > a svg {
    fill: #f45151;
}

.nested-navbar-wrapper {
    display: none;
    padding-top: 12px;
    position: absolute;
    z-index: 20;
}

.with-nested-navbar:hover > .nested-navbar-wrapper {
    display: block;
}

.navbar.nested {
    background-color: #fbfbfb;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-shadow: 0 8px 24px hsla(0, 0%, 40%, 0.08);
    display: block;
    overflow: hidden;
}

.navbar.nested li {
    background-color: #fbfbfb;
    border-bottom: 1px solid #dfe0e5;
    transition: background-color 0.3s;
}

.navbar.nested li:last-child {
    border-bottom: none;
}

.navbar.nested li:hover {
    background-color: hsla(240, 9%, 77%, 0.2);
}

.navbar.nested a {
    display: block;
    padding: 12px 16px;
}

.navbar-wrapper_right li {
    margin-right: 32px;
}

.navbar-wrapper_right li:last-child {
    margin-right: 0;
}

.bar_bottom {
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
}

.left,
.center,
.right {
    display: flex;
}

.logo-link {
    margin-right: 16px;
}

.logo-img {
    display: block;
    height: 32px;
    padding-top: 4px;
    width: 32px;
}

.catalog-button {
    background-color: #ffe632;
    border: 1px solid #ffe632;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 16px;
    padding: 7px 12px;
    transition: background-color 0.3s, border-color 0.3s;
    width: 110px;
}

.catalog-button:hover {
    background-color: #ffd93a;
    border-color: #ffd93a;
}

.catalog-button:focus {
    background-color: #FFCC00;
}

.catalog-button .svg-wrapper {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 24px;
}

.catalog-button span {
    font-size: 14px;
    font-weight: 600;
    padding-left: 6px;
}

.catalog-button .svg-wrapper,
.catalog-button span {
    vertical-align: middle;
}

.catalog-button svg.closed,
.catalog-button svg.opened {
    font-size: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    transition: opacity 0.3s;
}

.catalog-button svg.closed {
    opacity: 1;
}

.catalog-button svg.opened {
    opacity: 0;
}

.center {
    position: relative;
    width: 100%;
}

.search-bar-wrapper {
    width: 100%;
}

.search-bar-wrapper::before {
    background-image: url(https://static.beeline.ru/upload/images/e-shop/icons/search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 20px;
    left: 14px;
    position: absolute;
    top: 25%;
    width: 20px;
}

#search-bar {
    background-color: #fbfbfb;
    border: 1px solid #dfe0e5;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px 40px;
    width: 100%;
}

.hidden-buttons {
    display: none;
    margin-left: auto;
}

.hidden-buttons button {
    border-radius: 8px;
    color: #191c22;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 24px;
}

.hidden-buttons #search {
    background-color: #ffe632;
    border: 1px solid #ffe632;
    margin: 0 12px;
    transition: background-color 0.3s, border-color 0.3s;
}

.hidden-buttons #search:hover {
    background-color: #ffd93a;
    border-color: #ffd93a;
}

.hidden-buttons #search:focus {
    background-color: #FFCC00;
}

.hidden-buttons #close-search {
    background-color: #ffffff;
    border: 1px solid #191c22;
    transition: border-color 0.3s, color 0.3s;
}

.hidden-buttons #close-search:hover {
    border-color: #f45151;
    color: #f45151;
}

.hidden-buttons #close-search:focus {
    border-color: #191c22;
    color: #191c22;
}

.right {
    margin-left: 24px;
}

.chat-button-wrapper,
.cart-link-wrapper {
    padding: 0 12px;
}

.chat-button-wrapper button,
.cart-link-wrapper a {
    margin-top: 2px;
    transition: color 0.3s;
}

.chat-button-wrapper button:hover,
.cart-link-wrapper a:hover {
    color: #f45151;
}

.chat-button-wrapper button:hover > svg,
.cart-link-wrapper a:hover > svg {
    fill: #f45151;
}

.chat-button-wrapper button {
    padding: 0;
}

.cart-link-wrapper a {
    display: block;
    text-align: center;
}

.chat-button-wrapper svg,
.cart-link-wrapper svg {
    transition: fill 0.3s;
}

.chat-button-wrapper span,
.cart-link-wrapper span {
    display: block;
    font-size: 12px;
    margin-top: -6px;
}

.login-button-wrapper {
    margin-left: 20px;
}

#login-button {
    background-color: #191c22;
    color: #ffffff;
    border: 1px solid #191c22;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 9px 24px;
}

#login-button:focus {
    color: #D9D9D9;
}

.catalog-info-wrapper {
    animation: slide-down-appear 0.3s ease-in-out forwards;
    background-color: #ffffff;
    border-bottom: 1px solid #dfe0e5;
    display: none;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transform: translateY(-10px);
    width: 100%;
    z-index: 10;
}

@keyframes slide-down-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.catalog-info {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    max-height: 750px;
    max-width: 1310px;
    padding: 0 20px;
}

.small-navbar-wrapper {
    border-right: 1px solid #dfe0e5;
    height: 75vh;
    min-width: 160px;
    overflow-x: auto;
    padding: 32px 24px 32px 0;
    scrollbar-width: none;
}

.small-navbar-wrapper::-webkit-scrollbar {
    display: none;
}

.small-navbar {
    margin: 0 0 16px 0;
    padding: 0;
}

.small-navbar li {
    padding: 2px 0;
}

.small-navbar .title {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 6px;
    transition: opacity 0.3s;
}

.small-navbar .title:hover {
    opacity: 0.7;
}

.small-navbar button {
    border: 1px solid #ffffff;
    display: block;
    font-size: 14px;
    padding: 4px 8px;
    text-align: left;
    width: 100%;
}

.chosen-section {
    background-color: rgba(223, 224, 229, 0.5);
    border-radius: 10px;
}

.big-navbar-wrapper {
    height: 80vh;
    overflow-x: auto;
    padding-bottom: 32px;
    scrollbar-width: none;
    width: 100%;
}

.big-navbar-wrapper::-webkit-scrollbar {
    display: none;
}

.big-navbar-wrapper .navbar_top {
    display: flex;
    margin: 0;
    padding: 32px 24px;
}

.big-navbar-wrapper .navbar_top li {
    align-items: center;
    display: flex;
    margin-right: 32px;
}

.big-navbar-wrapper .navbar_top li:last-child {
    margin-right: 0;
}

.big-navbar-wrapper .navbar_top img {
    cursor: pointer;
    height: 20px;
    margin-right: 6px;
    width: 20px;
}

.big-navbar-wrapper .navbar_top a {
    font-size: 16px;
}

.big-navbar-wrapper .navbar_top img:hover,
.big-navbar-wrapper .navbar_top a:hover {
    opacity: 0.7;
}

.big-navbar {
    padding-left: 24px;
}

.content-block {
    display: none;
}

.content-block.initial {
    display: block;
}

.content-block > .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.content-block .content {
    display: flex;
    flex-wrap: wrap;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards-wrapper .card {
    background-color: #ffffff;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-sizing: border-box;
    display: block;
    height: 200px;
    margin: 0 24px 24px 0;
    max-width: 380px;
    padding: 24px;
    position: relative;
    width: 31%;
}

.cards-wrapper .card.bn,
.cards-wrapper .card.pspb {
    margin-right: 0;
}

.cards-wrapper .card.cht,
.cards-wrapper .card.st20 {
    background: rgb(255,204,0);
    background: linear-gradient(90deg, rgba(255,204,0,1) 0%, rgba(255,217,58,1) 35%, rgba(255,230,50,1) 100%);
}

.cards-wrapper .card.bam {
    background-color: #BF9FFF;
}

.cards-wrapper .card.pspb {
    background-color: #1D1346;
}

.cards-wrapper .title {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.cards-wrapper .subtitle {
    display: block;
    font-size: 15px;
    line-height: 1.3;
}

.cards-wrapper .card.pspb {
    color: #ffffff;
}

.cards-wrapper img {
    height: 120px;
    position: absolute;
}

.cards-wrapper .card.mc img {
    bottom: 14px;
    right: 8px;
}

.cards-wrapper .card.cht img {
    bottom: 16px;
    right: 6px;
}

.cards-wrapper .card.bn img {
    bottom: 16px;
    right: 6px;
}

.cards-wrapper .card.st20 img {
    bottom: 8px;
    height: 130px;
    right: -2px;
}

.cards-wrapper .card.bam img {
    bottom: 16px;
    right: 4px;
}

.cards-wrapper .card.pspb img {
    bottom: 14px;
    right: 12px;
}

.cards-wrapper button {
    border: 1px solid #191c22;
    border-radius: 16px;
    bottom: 24px;
    font-size: 14px;
    left: 24px;
    padding: 4px 12px 6px 12px;
    position: absolute;
} 

.columns-wrapper {
    display: flex;
    margin: 0 auto 24px 0;
}

.two-columns {
    display: flex;
    width: 580px;
    z-index: 1;
}

.two-columns .column {
    width: 50%;
}

.column .section {
    margin-bottom: 8px;
    width: 100%;
}

.column .subtitle {
    cursor: default;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.column ul {
    margin: 0;
    padding: 0;
}

.column li {
    line-height: 1.3;
    padding-bottom: 8px;
}

.column a {
    font-size: 14px;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.column a:hover {
    opacity: 0.7;
}

.card-wrapper {
    margin-bottom: 32px;
}

.card-wrapper .card {
    background-color: #ffffff;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-sizing: border-box;
    display: block;
    height: 400px;
    padding: 24px;
    position: relative;
    width: 400px;
}

.card-wrapper .card.bam {
    background-color: #BF9FFF;
}

.card-wrapper .card.sg {
    background: rgb(255,204,0);
    background: linear-gradient(90deg, rgba(255,204,0,1) 0%, rgba(255,217,58,1) 35%, rgba(255,230,50,1) 100%);
}

.card-wrapper .title {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 8px;
}

.card-wrapper .subtitle {
    display: block;
    font-size: 16px;
    line-height: 1.3;
}

.card-wrapper img {
    height: 240px;
    position: absolute;
}

.card-wrapper .card.mmt img {
    bottom: 64px;
    right: 24px;
}

.card-wrapper .card.bam img {
    bottom: 48px;
    right: 8px;
}

.card-wrapper .card.tnth img {
    bottom: 72px;
    right: 16px;
}

.card-wrapper .card.tnths img {
    bottom: 72px;
    right: 16px;
}

.card-wrapper .card.ts img {
    bottom: 56px;
    right: 0;
}

.card-wrapper .card.eths img {
    bottom: 56px;
    right: 0;
}

.card-wrapper .card.sg img {
    bottom: 80px;
    right: 16px;
}

.card-wrapper .card.as img {
    bottom: 64px;
    right: 8px;
}

.card-wrapper button {
    background-color: #ffe632;
    border: 1px solid #ffe632;
    border-radius: 8px;
    bottom: 24px;
    font-size: 14px;
    font-weight: 600;
    left: 24px;
    padding: 10px 18px;
    position: absolute;
}

.card-wrapper .card.sg button {
    background-color: #191c22;
    border-color: #191c22;
    color: #ffffff;
}

.login-wrapper {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.login {
    animation: increase-opacity 0.5s forwards;
    background-color: #ffffff;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-shadow: 0 8px 24px hsla(0, 0%, 40%, 0.08);
    min-height: 455px;
    opacity: 0;
    width: 555px;
    z-index: 101;
}

@keyframes increase-opacity {
    to {
        opacity: 1;
    }
}

.login .header {
    padding: 96px 48px 24px 48px;
    position: relative;
}

.login .header span {
    font-size: 24px;
    font-weight: 600;
}

.login button.close {
    padding: 12px;
    position: absolute;
    right: 32px;
    stroke: #191c22;
    stroke-width: 1.5px;
    top: 32px;
}

.login button.close:hover {
    stroke: #f45151;
}

.login .content {
    padding: 0 48px 96px 48px;
}

.login-options-wrapper {
    display: flex;
}

.login-option {
    background-color: #ffffff;
    color: #191c22;
    transition: background-color 0.3s;
}

.login-option:hover {
    background-color: hsla(0, 0%, 40%, 0.08);
}

.login-option path {
    fill: #8E8E9F;
}

.chosen-option {
    background-color: #191c22;
    color: #ffffff;
    cursor: default;
}

#mobile-id-option,
#sms-option,
#password-option {
    border: 1px solid #dfe0e5;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px 16px;
    white-space: nowrap;
}

#mobile-id-option,
#sms-option {
    margin-right: 8px;
}

#mobile-id-option svg,
#mobile-id-option span {
    display: inline-block;
    vertical-align: middle;
}

.login-forms-wrapper {
    margin-top: 24px;
}

.login-forms-wrapper form {
    flex-direction: column;
}

.chosen-form {
    display: flex;
}

.login-form {
    display: none;
}

.login-forms-wrapper label {
    font-size: 16px;
    position: relative;
}

.login-forms-wrapper .svg-wrapper {
    bottom: 22px;
    position: absolute;
    right: 12px;
}

.login-forms-wrapper .svg-wrapper svg {
    display: block;
}

.login-forms-wrapper input {
    background-color: #fbfbfb;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 8px 0;
    padding: 10px 12px;
    outline-color: #191c22;
    width: 100%;
}

.password-recover {
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    opacity: 1;
    transition: opacity 0.3s;
    width: 150px;
}

.password-recover:hover {
    opacity: 0.7;
}

.login-forms-wrapper button {
    background-color: #ffe632;
    border: 1px solid #ffe632;
    border-radius: 12px;
    box-sizing: border-box;
    color: #191c22;
    font-size: 16px;
    font-weight: 600;
    margin-top: 32px;
    padding: 10px 24px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    width: 180px;
}

.login-forms-wrapper button:disabled {
    background-color: #dfe0e5;
    border-color: #dfe0e5;
    color: #bebec9;
    cursor: unset;
}

.catalog-info-background {
    background-color: #191c22;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
    width: 100%;
    z-index: 9;
}

main {
    margin: 20px;
    position: relative;
}

.search-info-wrapper {
    display: none;
}