body {
    color: #191c22;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    border: none;
    color: #191c22;
    text-decoration: none;
}

img {
    border: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
}

li {
    list-style-type: none;
}

header {
    border-bottom: 1px solid #dfe0e5;
}

.relevant-product_top {
    background-color: #FFCC00;
    height: 48px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.height-zero {
    height: 0;
    transition: height 0.3s;
}

.product-link {
    display: block;
    height: 100%;
    margin: 0 50px;
}

.product-wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 330px;
}

.product-wrapper img {
    height: 90%;
    margin-right: 10px;
    position: inherit;
    top: 5%;
}

.product-wrapper span {
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 30%;
}

.relevant-product_top button {
    font-size: 0;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.bar_top {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 5px;
}

.navbar_top {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1310px;
    padding: 0 20px;
    width: 100%;
}

.chosen-region {
    max-width: 180px;
    position: relative;
    width: 100%;
}

.chosen-region button {
    padding: 0;
    position: absolute;
    top: 0;
}

.chosen-region svg,
.chosen-region span {
    display: inline-block;
    vertical-align: middle;
}

.chosen-region span {
    font-weight: bold;
    letter-spacing: 0.5px;
}

.regions-popup {
    background-color: #fbfbfb;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-shadow: 0 8px 24px hsla(0, 0%, 40%, 0.08);
    position: absolute;
    visibility: hidden;
}

.popup-header {
    border-bottom: 1px solid #dfe0e5;
    padding: 64px 96px 24px;
    position: relative;
}

.popup-header h3 {
    font-size: 32px;
    margin-bottom: 24px;
}

.popup-header button {
    font-size: 0;
    padding: 12px;
    position: absolute;
    right: 32px;
    top: 32px;
}

.popup-header input {
    background-color: #fff;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 14px;
    outline: #dfe0e5;
    padding: 12px;
    width: 100%;
}

.popup-content {
    max-height: 540px;
    overflow-y: auto;
    padding: 24px 96px 0;
}

.navbar_left {
    margin-right: auto;
}

.navbar_right {
    margin-left: auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar > ul {
    display: flex;
}

.navbar li {
    font-size: 14px;
    font-weight: bold;
}

.with-nested-nav {
    cursor: pointer;
    margin: 0 16px;
}

.nested-nav-wrapper {
    display: none;
    padding-top: 12px;
}

.with-nested-nav:hover > .nested-nav-wrapper {
    display: block;
}

.nested-nav {
    background-color: #fbfbfb;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-shadow: 0 8px 24px hsla(0, 0%, 40%, 0.08);
    position: absolute;
}

.nested-nav li {
    border-bottom: 1px solid #dfe0e5;
    padding: 10px 16px;
}

.nested-nav li:last-child {
    border-bottom: none;
}

.navbar_right ul li {
    margin-right: 32px;
}

.navbar_right ul li:last-child {
    margin-right: 0;
}

.bar_bottom {
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.left {
    display: flex;
}

.logo-link {
    margin-right: 16px;
}

.logo-img {
    display: block;
    height: 32px;
    padding-top: 4px;
    width: 32px;
}

.catalog-button {
    background-color: #ffe632;
    border: 1px solid #ffe632;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 16px;
    padding: 7px 12px;
    transition: background-color 0.3s, border-color 0.3s;
    width: 110px;
}

.catalog-button:hover {
    background-color: #ffd93a;
    border-color: #ffd93a;
}

.catalog-button .svg-wrapper {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.catalog-button .svg-wrapper svg {
    font-size: 0;
    line-height: 0;
}

.catalog-button span {
    font-weight: bold;
    letter-spacing: 0.6px;
    padding-left: 6px;
}

.catalog-button .svg-wrapper,
.catalog-button span {
    vertical-align: middle;
}

.center {
    display: flex;
    margin-right: 24px;
    position: relative;
    width: 100%;
}

.search-bar-wrapper {
    width: 100%;
}

.search-bar-wrapper::before {
    background-image: url(https://static.beeline.ru/upload/images/e-shop/icons/search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 20px;
    left: 14px;
    position: absolute;
    top: 20%;
    width: 20px;
}

#search-bar {
    background-color: #fbfbfb;
    border: 1px solid #dfe0e5;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 12px;
    outline: #dfe0e5;
    padding: 12px 40px;
    width: 100%;
}

.hidden-buttons {
    display: none;
    margin-left: auto;
}

.hidden-buttons button {
    border-radius: 8px;
    color: #191c22;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 8px 24px;
}

.hidden-buttons #search {
    background-color: #ffe632;
    border: 1px solid #ffe632;
    margin: 0 12px;
    transition: background-color 0.3s, border-color 0.3s;
}

.hidden-buttons #search:hover {
    background-color: #ffd93a;
    border-color: #ffd93a;
}

.hidden-buttons #close-search {
    border: 1px solid #191c22;
    background-color: #ffffff;
    transition: border-color 0.3s, color 0.3s;
}

.hidden-buttons #close-search:hover {
    border: 1px solid #f45151;
    color: #f45151;
}

.search-info-wrapper {
    display: none;
}